NEXT_PUBLIC_SITE_URL=https://saweranadeem.com
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=Sawera Nadeem Website
CONTACT_TO_EMAIL=
CONTACT_TO_NAME=Sawera Nadeem
BREVO_CONTACT_LIST_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
